---
import AboutMe from '../components/AboutMe.astro';
import BriefCaseIcon from '../icons/BriefCase.astro';
import CodeIcon from '../icons/Code.astro';
import Experience from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro';
import ProfileIcon from '../icons/Profile.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
---

<Layout
title="Portfolio de Alejandro Flores | Desarrollador y Programador Web con 2 años de experiencia."
description="Contrata a Alejandro  para crear  ru aplicación web o móvil. Desarrollador Web y Mobile. Especializado en crear soluciones únicas."
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<!-- w-12 h-12 -->
			<Hero/>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<BriefCaseIcon class="size-7"></BriefCaseIcon>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<CodeIcon class="size-7"></CodeIcon>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<ProfileIcon class="size-7"></ProfileIcon>
				Sobre mí
			</h2>
			<AboutMe/>
		</SectionContainer>
	</main>
</Layout>
