---
// import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import BriefCaseIcon from '../icons/BriefCase.astro';
import CodeIcon from '../icons/Code.astro';
import Experience from '../components/Experience.astro';
import GitHubIcon from '../icons/GitHub.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import MailIcon from '../icons/Mail.astro';
import ProfileIcon from '../icons/Profile.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout
title="Portfolio de Alejandro Flores | Desarrollador y Programador Web con 2 años de experiencia."
description="Contrata a Alejandro  para crear  ru aplicación web o móvil. Desarrollador Web y Mobile. Especializado en crear soluciones únicas."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<!-- w-12 h-12 -->
			<img
				class="rounded-full w-16 mb-4"
				src="https://avatars.githubusercontent.com/u/47506026"
				alt="Alejandro photo"
			/>
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Alejandro
				<a href="https://www.linkedin.com/in/4lejandro/" target="_blank"  rel="noopener" class="flex justify-center items-center hover:scale-105 transition">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+2 años de experiencia.</span><span class="text-blue-400/90"> Desarrollador Web y Mobile.</span>
				<span class="text-gray-500/90"> De Morelos, México.</span><span class="opacity-70"> Especializado en crear soluciones únicas</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill  href="https://www.linkedin.com/in/4lejandro/">
					<LinkedInIcon class="size-4 md:size-6"></LinkedInIcon>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Darkkell">
					<GitHubIcon class="size-4 md:size-6"></GitHubIcon>
					GitHub
				</SocialPill>
				<SocialPill  href="mailto:alejandro.flores.reyes@gmail.com">
					<MailIcon class="size-4 md:size-6"></MailIcon>
					email
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7"></BriefCaseIcon>
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"></CodeIcon>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProfileIcon class="size-7"></ProfileIcon>
				Sobre mí
			</h2>
			<AboutMe/>
		</SectionContainer>
	</main>
</Layout>
