<!-- if you use flex-col you can use order-1, order-2 md:order-2 md:order-1 on each element-->
<article  class="flex flex-col-reverse md:flex-row gap-8 justify-center items-center">
    <div  class="[&>p]:mb-4 [&>p>strong]:text-blue-400/90 [&>p]:text-semibold text-pretty">
        <p>
            Me  llamo Fermín Alejandro pero mis amigos me llaman <strong>Ale</strong>,
        </p>

        <p>
            Hitos en <strong> <em class="italic">gobierno</em> en el desarrollo de app</strong>
        </p>

        <p>
            Something else like developments
        </p>
    </div>
    <img src="https://avatars.githubusercontent.com/u/47506026"  class="rounded-full size-64" alt="">
</article>
