---
import ArrowIcon from '../icons/Arrow.astro'
import LinkButton from './LinkButton.astro'

interface Props  {
    date:  string
    title: string
    description: string
    link?: string
}
const  { date, title, description, link } = Astro.props
---
<div class="absolute size-3  rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-white dark:border-gray-900 dark:bg-white">
</div>
<time class="mb-1 text-sm font-normal leading-none text-purple-950 dark:text-purple-400/60">
    {date}
</time>
<h3 class="text-lg font-semibold text-blue-400/90 dark:text-blue-400/90 mt-2">
    {title}
</h3>
<p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400 text-pretty">
    {description}
</p>
{
    link && (
        <LinkButton href ={ link }>
            Saber Más...{' '}
            <ArrowIcon></ArrowIcon>
        </LinkButton>)
}
