<header
class={`
    flex justify-center items-center
    mx-auto
    sticky top-0
    w-full xl:w-[1120px]
    z-10
`}
>
<nav class={`
    flex flex-row items-center
    rounded-b-[30px]
    bg-black/30
    backdrop-blur-2xl
    gap-x-10
    p-5
`}>
    <a class="hover:text-blue-400/90 active:text-violet-400/60" href="#sobre-mi">Sobre mí</a>
    <a class="hover:text-blue-400/90 active:text-violet-400/60" href="#experiencia">Experiencia</a>
    <a class="hover:text-blue-400/90 active:text-violet-400/60" href="#proyectos">Proyectos</a>
    <a class="hover:text-blue-400/90 active:text-violet-400/60" href="#contacto">Contacto</a>
</nav>

</header>
