---
const navItems =[
    {
        title: "experiencia"
    },
    {
        title: "proyectos"
    },
    {
        title: "sobre mí",
        label: "sobre-mi"
    },
    {
        title: "contacto"
    }

]
---
<header
class={`
    h-14
    flex justify-center items-center
    mx-auto
    sticky top-0
    w-full xl:w-[1120px]
    z-10
`}
>
<nav class={`
    flex flex-row items-center
    rounded-b-[30px]
    bg-black/30
    backdrop-blur-2xl
    gap-x-4 sm:gap-x-6 md:gap-x-10
    p-5
`}>
    {
        navItems.map((base)=>(
            <a class="text-xs sm:text-sm md:text-base text-white hover:text-blue-400/90 active:text-violet-400/60 capitalize" href=`/#${base.label?base.label:base.title}`>{base.title}</a>
        ))
    }
</nav>

</header>
