---
const { class : className, id } = Astro.props
---
<!-- ${Astro.props.class} -->
<section
    id=`${id}`
    data-secion=`${id}`
    class={`section ${className} w-full mx-auto lg:w-[740px] pb-24`}>
    <slot/>
</section>
