---
const { class : className, id } = Astro.props
---
<!-- ${Astro.props.class} -->
<section
    id=`${id}`
    data-secion=`${id}`
    class={`section w-full lg:w-[740px] mx-auto ${className} pb-24`}>
    <slot/>
</section>
